
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    padding-top: 70rem; /* Add this line */
  }
  
  .image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .image-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: shapeChange 4s infinite linear alternate;
  }
  
  .text-container {
    text-align: center;
    margin-top: 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  #title {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .icon {
    font-size: 2rem;
    margin: 0 1rem;
  }
  
  .icon:hover {
    color: #ffffff;
  }
  
  .tech-stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .tech-stack-wording {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 0.5rem;
  }
  
  .tech-stack-line {
    width: 40px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 1rem;
  }
  
  .tech-stack-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .tech-icon {
    font-size: 2.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    position: relative;
  }
  
  @media (max-width: 767px) {
  
    .landing-page {
      padding-top:94rem;
    }
  
    .image-container {
      width: 150px;
      height: 150px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    #title {
      font-size: 1rem;
    }
  
    .tech-stack-container {
      margin-bottom: 1rem;
    }
  
    .tech-stack-wording {
      margin-bottom: 0.25rem;
    }
  
    .tech-stack-line {
      width: 30px;
      margin-bottom: 0.5rem;
    }
  
    .tech-stack-icons {
      justify-content: center;
    }
    
    .image-text-container {
      margin-top: 2rem;
    }
    
    .about-container {
      margin-top: 2rem;
    }

    .portfolio-container {
      margin-top: 20rem;
    }

    #portfolio{
      margin-top: 4rem;
    }


    .contact-container{
      margin-top: 30rem;
    }

    #contact{
      margin-top: 25rem;

    }
  }

 
  /* CSS for About Section */
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Add this line */
    margin: 6rem 0;
    
  }
  
  
  .about-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .expense-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .blog-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .about-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #00aeff;
  }
  
  .about-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 1.5rem;
  }
  
  .about-paragraph {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }
  
  @keyframes shapeChange {
    0% {
      border-radius: 50%;
    }
    50% {
      border-radius: 10%;
    }
    100% {
      border-radius: 50%;
    }
  }
  
  
  /* Styling for the portfolio section */
  #portfolio {
    background-color: #f5f5f5;

  }
  
  .portfolio-container {
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .portfolio-title {
    margin-bottom: 2rem;
  }
  
  .portfolio-title h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #00aeff;
    font-family: 'Poppins', sans-serif;
  }
  
  .portfolio-title p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    color: #777777;
  }
  
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .project {
    width: 300px;
    padding: 1.5rem;
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .project h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }

  .project-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin-bottom: 1rem;
    text-align: center; /* Center the text in case you have text inside the container */
    
  }
  
  .button-row {
    display: flex;
    margin-bottom: 1rem; /* Increase this value to create more spacing between rows */
  }


.button-row button {
  /* ... your existing styles ... */
  margin-right: 1rem;
}

.project-image{
  margin-top: 2rem;
}

  
  
  .project-buttons button {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    background-color: #00aeff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Add background-color transition */
  }
  .project-buttons button:hover {
    transform: scale(1.1); /* Scale up the button on hover */
    background-color: #00aeff; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
  }
  
  .project-actions {
    display: flex;
    justify-content: space-around;
  }

  .project-action-link {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #00aeff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add a transition for a smooth hover effect */
  }
  
  .project-action-link:hover {
    background-color: #008ad6; /* Change the background color on hover */
  }
  
  
  .project-actions a {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #00aeff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  

  

  .project-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight:200;
  }
  /* Styling for the contact section */


.contact-container {
  width: 100%;
  margin-top: 7rem;
  background-color: #f5f5f5;
  text-align: center;
}

.contact-title {
  margin-bottom: 2rem;
}

.contact-title h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #00aeff;
  font-family: 'Poppins', sans-serif;
}

.contact-title p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
  color: #777777;
}

.contact-form {

 display: flex;
  justify-content: center;
   align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.form-row {
  width: 100%;
  margin-bottom: 1rem;
}

.form-row input,
.form-row textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-row textarea {
  resize: vertical;
}

.submit-button {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #00aeff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit-button:hover {
  transform: scale(1.1);
  background-color: #008ad6;
}
