@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,400&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap');

/* Styling for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  transition: height 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

/* Styling for the navbar when scrolled */
.navbar.scrolled {
  height: 30px; /* Adjust the height as desired */
}


/* Styling for the logo */
.logo {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 6%;
}

/* Styling for the hamburger icon */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;
  cursor: pointer;
  z-index: 999;
  margin-right: 6%;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Styling for the navigation modal */
.nav-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff; /* Set background color to black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s, transform 0.3s ease;
}

.nav-modal.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

/* Styling for the navigation links */
.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the list items */
.nav-links li {
  margin-bottom: 40px; /* Adjust the margin as desired */
}

/* Styling for the links */
.nav-links a {
  color: #000000; /* Set text color to white */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}


@media (max-width: 767px) {
  .nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
  }
  
}