@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,400&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Mulish', sans-serif;
  margin: 0;
}

.content {
  margin-top: 6%;
  padding: 0 2%;
  box-sizing: border-box;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.text-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .landing-page {
    flex-direction: row;
  }

  .text-container,
  .image-container {
    flex-basis: 50%;
  }

  .image-container {
    justify-content: flex-end;
  }
}

.image {
  max-width: 100%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: all 0.5s ease;
}
