@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,400&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, 
body, 
#root,
.app,
.content { 
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.content {
  margin-top: 8%;
  padding-left: 2%;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600&display=swap');

.landing-page {
  height: 100vh; /* Adjust the height as desired */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; /* Adjust the background color as desired */
}

h1 {
  font-size: 48px; /* Adjust the font size as desired */
  font-weight: 600;
  color: #000; /* Adjust the text color as desired */
  font-family: 'SF Pro Text', sans-serif;
  margin-bottom: 16px; /* Adjust the margin as desired */
}

p {
  font-size: 24px; /* Adjust the font size as desired */
  font-weight: 400;
  color: #000; /* Adjust the text color as desired */
  font-family: 'SF Pro Text', sans-serif;
}
