/* Importing Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,400&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap');

/* Setting default styles for HTML, body, and root container */

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Mulish', sans-serif;
  margin: 0;
}

/* Setting styles for the content container */

.content {

  box-sizing: border-box;
}

/* Styles for the landing page container */

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  background-color: rgb(241, 254, 254);
}

/* Styles for the text container */
.text-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust the margin-bottom value as desired */
  }
  
  /* Styles for the image container */
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Adjust the margin-bottom value as desired */
  }

/* Styles for the icons container */

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Styles for the icons */

.icon {
  font-size: 40px;
  color: black;
  margin: 10px;
  filter: grayscale(100%); /* Convert icons to black and white */
}
/* Media query for larger screens (min-width: 768px) */

@media (max-width: 700px) {
    .content {
      margin-top: 10%;
    }
     /* Styles for mobile view */
  .text-container {
    margin-bottom: 10%; /* Adjust the margin-bottom value for mobile view */
  }

  .image-container {
    margin-bottom: 1%; /* Adjust the margin-bottom value for mobile view */
  }

  
    .text-container,
    .image-container {
      flex-basis: 50%;
    }
  
    .image-container {
      justify-content: flex-start; /* Change justify-content to flex-start */
      order: -1; /* Change the order to move the image container to the top */
    }
  
    .text-container {
      order: 2; /* Change the order to move the text container to the bottom */
    }
  
    .icon-container {
      flex-direction: row; /* Change the direction to display the icons side by side */
      justify-content: center; /* Align icons to the center */
      margin-top: 20px;
    }
  }
  